* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
}
.content {
	display: flex;
	flex-direction: column;
}
.item {
	display: flex;
}
.img_container {
	width: 100px;
	height: 100px;
}
.img_container img {
	width: 100%;
}
.nav {
	margin: 5px auto 0 auto;
	width: 80px;
}
